.ask {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row-reverse;
    gap: 50px;
    min-height: 70vh;
    flex-wrap: wrap;
}

.ask .card {
    background-color: #F1F5F9;
    background-image: url("/banner-03.png.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 30px;
    border-radius: 8px;
}

.ask .card h1 {
    font-size: 36px;
    font-weight: 800;
    color: #212529;
}

.ask .askes {
    direction: rtl;
}

.ask .card .btn {
    display: block;
    padding: 10px 25px;
    width: 150px;
    border-radius: 6px;
    font-size: 13px;
    background: var(--main-color);
    margin: 10px;
    font-weight: 700;
    color: #FFFFFF;
}

/* قسم السؤال والإجابة */
.ask .askes .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.ask .askes h3 {
    cursor: pointer;
    font-size: 20px;
    position: relative;
    padding: 10px;
    font-weight: 500;
    border-bottom: 1px solid #CBD5E1;
}

.ask .askes h3 span {
    left: 0;
    position: absolute;
}

/* عند المرور على السؤال، تظهر الإجابة كاملة */
.ask .askes:hover .answer {
    max-height: 1000px; /* رقم كبير لتغطي أي نص */
}

.ask .askAndAnswer {
    width: 50%;
}

.ask .askAndAnswer h3 {
    width: 100%;
}

/* استجابة الشاشات الصغيرة */
@media (max-width: 776px) {
    .ask.card {
        min-width: 300px;
        max-width: 100%;
    }
    .ask .askAndAnswer {
        width: 100%;
    }
}
